:root {
  --padding-horizontal: 12px;
}
* {
  /* --togostanza-theme-series_0_color: #ca65e6; */
}

body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
  font-size: 10px;
  background-color: #ecefef;
}

.panel {
  background-color: white;
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/* タブ用スタイル */
.tab-container {

  .tabs {
    display: flex;
    padding: 0 4px;
    /* border-bottom: 1px solid #ccc; */
    .tab {
      background: none;
      border: none;
      padding: 8px 0 2px;
      cursor: pointer;
      font-size: 1.2em;
      font-weight: bold;
      opacity: .3;
      + .tab {
        margin-left: 8px;
      }
      &.-active {
        /* background-color: #ecefef; */
        border-bottom: 2px solid #000;
        opacity: 1;
      }
    }
  }
  .tab-content {
    display: none;
    margin-top: 8px;
    &.-active {
      display: block;
    }
  }
  
}

h2 {
  font-size: 1.2em;
  margin: 0.5em 0 0.2em calc(var(--padding-horizontal) * 0.2);
}

#stanzas {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
> * {
    width: fit-content;
    /* border-right: solid 1px black;
    &:last-child {
      border-right: none;
    } */
  }
}

#data {
  width: 100%;
  height: 200px;
}

togostanza-pagination-table {
  padding: 10px var(--padding-horizontal);
  --togostanza-table-border: 1px solid #000;
  --togostanza-table-shadow: ;
  --togostanza-thead-border-bottom: 1px solid #000;
  --togostanza-thead-font-size: 10px;
  --togostanza-tbody-border-bottom: 1px solid #0002;
}