.global-navigation {
  --padding-left: 12px;
  padding: 12px var(--padding-left);
  > a {
    --size: calc(var(--width-global-navi) - var(--padding-left) * 2);
    display: block;
    width: var(--size);
    height: var(--size);
    text-align: center;
    line-height: var(--size);
    font-size: 20px;
    margin: 12px 0;
    border-radius: 4px;
  }
}

[data-page="matrix"] .global-navigation > a[data-page="matrix"],
[data-page="tree"] .global-navigation > a[data-page="tree"],
[data-page="graph"] .global-navigation > a[data-page="graph"],
[data-page="set"] .global-navigation > a[data-page="set"] {
  background-color: black;
  color: white;
  pointer-events: none;
}

