#StanzaPramasTab {

  > section {
    border-top: solid 1px #0003;
    padding: 8px 10px 10px;
    &:last-child {
      border-bottom: solid 1px #0003;
    }
    > h2 {
      font-size: 12px;
      margin: 0;
    }
    > form {
      > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
          margin-top: 4px;
          &:first-child {
            margin-top: 8px;
          }
          > label {
            text-align: left;
            > span {
              font-size: 12px;
              line-height: 18px;
              display: block;
              color: #0008;
            }
            > input {
              width: 100%;
              &[type="checkbox"] {
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}
