#StanzasContainer {
  --padding: 4px;
  padding: 0 var(--padding) var(--padding);

  > h2 {
    margin-left: calc(var(--padding) * -1);
    padding-left: calc(var(--padding) + 6px);
    font-size: 14px;
    line-height: var(--height-horizontal-menu);
    margin-bottom: calc(var(--padding) * -1);
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(20px);
  }
  
  > .stanza {
    margin: 6px;
    padding: 6px;
    border-radius: 4px;
    background-color: var(--togostanza-theme-background_color);
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: calc(100% - 12px);
    > h3 {
      font-size: 12px;
      color: var(--togostanza-fonts-font_color_primary);
      margin-bottom: 4px;
      cursor: pointer;
    }
    &:has(> h3:hover) {
      outline: solid 1px #0006;
    }
  }
}